<%- include("partial/header") %>

<main id="main">
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">
            <img src="/img/course-details.jpg" class="img-fluid" alt="">
            <h3>Et enim incidunt fuga tempora</h3>
            <div class="row">
              <div class="col-6">
                <p class="font-italic text-left">Author 1</p>
              </div>
              <div class="col-6">
                <p class="font-italic text-right">Sunday, September 26th at 7:00 pm</p>
              </div>
            </div>
            <p>
              Qui et explicabo voluptatem et ab qui vero et voluptas. Sint voluptates temporibus quam autem. Atque nostrum voluptatum laudantium a doloremque enim et ut dicta. Nostrum ducimus est iure minima totam doloribus nisi ullam deserunt. Corporis aut officiis sit nihil est. Labore aut sapiente aperiam.
              Qui voluptas qui vero ipsum ea voluptatem. Omnis et est. Voluptatem officia voluptatem adipisci et iusto provident doloremque consequatur. Quia et porro est. Et qui corrupti laudantium ipsa.
              Eum quasi saepe aperiam qui delectus quaerat in. Vitae mollitia ipsa quam. Ipsa aut qui numquam eum iste est dolorum. Rem voluptas ut sit ut.
            </p>
      </div>
    </section><!-- End Cource Details Section -->

  </main>

  <%- include("partial/footer") %>