<%- include("partial/header") %>

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Nama Kegiatan</h2>
        <div class="d-flex justify-content-between align-items-center">
          <div class=" d-flex align-items-center">
            <span>Date Added :&nbsp;</span>
            <span>15 Dec 2020</span>
          </div>
          <div class=" d-flex align-items-center">
            <span><i class="bx bx-image"></i>&nbsp;5
              &nbsp;&nbsp;</span>
          </div>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses pt-2">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="course-item">
              <img src="/img/events-1.jpg" class="img-fluid rounded" alt="...">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="course-item">
              <img src="/img/events-1.jpg" class="img-fluid rounded" alt="...">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="course-item">
              <img src="/img/events-1.jpg" class="img-fluid rounded" alt="...">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="course-item">
              <img src="/img/events-1.jpg" class="img-fluid rounded" alt="...">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="course-item">
              <img src="/img/events-1.jpg" class="img-fluid rounded" alt="...">
            </div>
          </div> 


        </div>
        <!-- End photos-->
        <div class=" d-flex justify-content-end mt-5">
          <a href="/galeri" class="btn return-home-btn" role="button" aria-pressed="true"> Back to Gallery >> </a>
        </div>

      </div>
       
    </section><!-- End Courses Section -->

  </main>

  <%- include("partial/footer") %>