<%- include("partial/header") %>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Mitra Pembentuk<br> &nbsp&nbsp&nbsp Pribadi Bermutu</h1>
    </div>
  </section><!-- End Hero -->   

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sejarah</h2>
          <p>Sejarah Sekolah</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/img_m3/3_1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p class="font-italic">
              Pada awalnya sekolah Methodist 3 hanya memiliki beberapa kelas yang tidak dapat menampung banyaknya siswa yang masuk ke sekolah ini, akibatnya jumlah siswa per kelas ditambah dan membuat murid sulit untuk bergerak bebas, karena terbatasnya tempat.
            </p>
            <p>
              Pada ± tahun 2006 sekolah ini membeli gedung baru dan dapat membantu kepadatan murid yang terjadi, tetapi tidak seluruhnya.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1232</span>
            <p>Siswa</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">64</span>
            <p>Kelas</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Berita</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Guru</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Kenapa Memilih Methodist3?</h3>
              <p>
                Kami melihat bahwa salah satu kunci sukses seseorang adalah kedisiplinan. Kedisplinan itu harus ditanam sejak kecil agar menjadi menjadi suatu kebiasaan. Wadah pertama dalam membentuk suatu karakter yaitu dalam keluarga dan selanjutnya akan dilanjutkan oleh sekolah , maka dari itu kami siap untuk menjadi wadah kedua dari anak didik sekalian.
              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-6 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>VISI</h4>
                    <p>Menjadi lembaga pendidikan Kristen yang memberikan pelayanan pendidikan dan pengajaran bermutu agar dapat membentuk pribadi yang unggul dalam IMAN, ILMU, dan KASIH.</p>
                  </div>
                </div>
                <div class="col-xl-6 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>MISI</h4>
                    <p>Meningkatkan Iman Kerohanian Siswa</p>

                    <p>Meningkatkan mutu dan hasil pembelajaran</p>  
                      
                    <p>Meningkatkan sikap hormat, disiplin , mandiri, kepedulian dan tanggung jawab terhadap sesama, bangsa dan negara</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Headmaster Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Kepala Sekolah</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 d-none d-lg-flex align-items-stretch"></div>

          <div class="col-lg-6 d-flex align-items-stretch justify-content-center">
            <div class="member">
              <img src="/img_m3/kepsek.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Tatty Widjaja,S.Pd.</h4>
                <p>
                  Kepala Sekolah SMA Methodist - 3
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Headmaster Section -->

    <!-- ======= Facilities Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Fasilitas</h2>
          <p>Fasilitas Sekolah</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img_m3/4.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Aula</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img_m3/5.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Lapangan</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img_m3/6.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Area Badmin</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img_m3/7.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Perpustakaan</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img_m3/8.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Ruang Kelas</h4>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End facilities Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 
  <%- include("partial/footer") %> 